<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-primary">
            <i class="fa fa-lock"></i> User
          </span> SignUp
        </h1>

        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="username"
              placeholder="Username"
              #username="ngModel"
              [ngClass]="{'is-invalid': username.errors && username.touched}"
              [(ngModel)]="user.username"
              minlength="2"
              required>
            <div [hidden]="!username.errors?.required" class="invalid-feedback">
              Username required
            </div>
            <div [hidden]="!username.errors?.minlength" class="invalid-feedback">
              Must be atleast 2 characters
            </div>
          </div>

          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
              #password="ngModel"
              [ngClass]="{'is-invalid': password.errors && password.touched}"
              [(ngModel)]="user.password"
              minlength="4"
              required>
            <div [hidden]="!password.errors?.required" class="invalid-feedback">
              Password required
            </div>
            <div [hidden]="!password.errors?.minlength" class="invalid-feedback">
              Must be atleast 2 characters
            </div>
          </div>

          <div class="form-group">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
              #email="ngModel"
              [ngClass]="{'is-invalid': email.errors && email.touched}"
              [(ngModel)]="user.email"
              pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
              required>
            <div [hidden]="!email.errors?.required" class="invalid-feedback">
              Email required
            </div>
            <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
              Email is invalid
            </div>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="mobile"
              placeholder="Mobile Number"
              #mobile="ngModel"
              [ngClass]="{'is-invalid': mobile.errors && mobile.touched}"
              [(ngModel)]="user.mobile"
              minlength="10"
              maxlength="10"
              required>
            <div [hidden]="!mobile.errors?.required" class="invalid-feedback">
              Mobile number required
            </div>
            <div [hidden]="!mobile.errors?.minlength && !mobile.errors?.maxlength" class="invalid-feedback">
              Invalid Mobile Number
            </div>
          </div>

          <input type="submit" value="Submit" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>


